<h1>About us</h1>



 <p>This about page have details about this project. This project is a normal Login/Signup page <br>
    with post page. I have build this project using "SESSION". When any user came and try to use <br>
    this project, they need to "SIGNUP" and then "Login", but user don't want to signup he/she only <br>
    see the about page and home page</p>