<style>
  .space {
    margin-bottom: 20px; /* Adjust the value as needed */
  }

  

</style>


<h1 class="space" >Welcome to the Home Page</h1>
 
  <h5>1. What is Sessions in Rails?</h5>

   <p>A rails session is a secure and tamper-proof cookie that contains all<br> 
      of the session information in a key-value format where the key is the <br>
      session identifier and the value is all of the information needed for <br>
      that session; the value is often a series of additional key-value pairs.</p>

